

body {
    background-color: #fff0dd;
    margin: 0;
    padding: 0;
}

.page-root {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
}


.page-content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;  
    overflow-x: auto;     
    min-width: 0;        
    box-sizing: border-box;
    height: 99%;

}



/* Ajusta el ancho de la tabla para que nunca salga de la vista */
.users-table, .solicitud-table, .books-table {
    width: 100%;
    max-width: 100%;
    table-layout: auto;
    overflow-x: auto;
}



